---
layout: default
---


<h2>Want a more specific blog? Go to <a href="{{ site.baseurl }}/blog1/">Scratch Blog</a> or <a href="{{ site.baseurl }}/blog2/" />Python Blog </a> .</h2>



<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

     <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

     <div class="entry">
       {{ post.excerpt }}
     </div>

     <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
   </article>
    
  {% endfor %}
</div>

<style>
  .pagination{
    text-align: center;
  }
</style>


<div class="container">
    <div class="PageNavigation">
      {% if page.previous.url %}
        <button class="prev" onclick="window.location.href='{{page.previous.url}}'">&laquo; {{page.previous.title}}</button>
      {% endif %}
      {% if page.next.url %}
        <button class="next" onclick="window.location.href='{{page.next.url}}'">&raquo; {{page.next.title}}</button>
      {% endif %}
    </div>
</div>

<style>
  .pagination {
    font-size: 15px;
  }
  
  .pageprogress {
    color: #000000;
    font-weight: bold;
  }
  
  
</style>


<div class="container">
  <div class="pagination">
    {% if paginator.previous_page %}
      <button class="Pprevious" onclick="window.location.href='{{paginator.previous_page_path}}'">Previous</button>
    {% endif %}
    <span id="pageprogress" class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <button class="Pnext" onclick="window.location.href='{{paginator.next_page_path}}'">Next</button>
    {% endif %}
  </div>
</div>
