---
layout: default-post
comments: true
---

<div class="container">
  <article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">
      {{ content }}
    </div>

    <div class="date">
      Written by {{ site.name }} on {{ page.date | date: "%B %e, %Y" }}
    </div>


  </article>

</div>

<h1></h1>
<h1></h1>
<h1></h1>

<div class="container">
    <div class="PageNavigation">
      {% if page.previous.url %}
        <button class="prev" onclick="window.location.href='{{page.previous.url}}'">&laquo; {{page.previous.title}}</button>
      {% endif %}
      {% if page.next.url %}
        <button class="next" onclick="window.location.href='{{page.next.url}}'">&raquo; {{page.next.title}}</button>
      {% endif %}
    </div>
</div>

<h1></h1>
<h1></h1>
<h1></h1>


<div class="container">
  {% include disqus.html %}
</div>
